@import "bootstrap";
@import "bootstrap-responsive";
$nav-height: 50px;
$nav-offset-vert: ($nav-height - 40px) / 2;

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$grayMediumLight: #eaeaea;

/* universal */
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

html {
  height: 100%;
  width: 100%;
}

body {
  @include box_sizing;
  background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url(/assets/black-and-white-small.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

* {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}
.footer, .push {
  height: 100px;
}

.main-content-center {
  text-align: center;
  h1 {
    font-size: 3em;
  }
}

section {
}

a {
  color: #DDD;
  &:hover {
    color: #FFF;
  }
}
textarea {
  resize: vertical;
}

.btn-primary {
  background: rgba(0,0,0,0);
  border: 2px solid #fff;
  &:hover, &:active, &:focus {
    background: #FFF;
    color: #000;
  }
}

.center {
  text-align: center !important;
  h1 {
    margin-bottom: 10px;
  }
}

.hero-unit {
  padding: 25vh 0 0 !important;
  background-color: rgba(0,0,0,0);
}

.hero-unit-short {
  padding: 15vh 0 40vh !important;
  background-color: rgba(0,0,0,0);
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar, .navbar-inner {
  height: $nav-height !important;
}

nav {
  margin-top: $nav-offset-vert;
}

#logo {
  padding-left: 5%;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  @include box_sizing;
  padding-top: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin: auto;
  position: fixed;
  color: #fff;
  a {
    color: #ddd;
    &:hover {
      color: #fff;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      padding-left: 10px;
      @include box_sizing;
    }
  }
}

.help-info {
  text-align: center;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Sidebar */
aside {
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

.stats {
  a {
    float: left;
    padding: 0 10px;
    color: gray;
    &:first-child{
      padding-left: 0;
      border: 0;
    }
    &:hover{
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  margin-top: 10px;
  .gravatar{
    margin: 1px 1px;
  }
}

/* Forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation{
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend.control-group;
  @extend.error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:last-child {
      border-bottom: none !important;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 15px 0 0 0;
  overflow: hidden;

  li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:last-child {
      border-bottom: none !important;
    }
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.alert-success {
  background-color: rgba(255, 255, 255, 0);
  color: #FFF;
  border-color: #282;
  text-align: center;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.micropost-feed {
}

.micropost-main {
  //padding-left: 50px;
  box-sizing: border-box;
}

.user-info-left {
  padding-top: 10px;
  h1.user-info-label {
    font-size: 2.6em;
  }
}

.stats {
  a {
    padding-bottom: 15px;
  }
}

.field {
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  body {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .main-container {
    margin-top: 20px;
  }
  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }
}

@media (min-width: 768px) {
  .main-container {
    margin-top: 80px;
  }
  .micropost-main {
    padding-left: 50px;
  }
}
