<footer class="footer navbar-fixed-bottom">
  <small>
    <a href="http://etdev.me">Created by</a>
    Eric Turner
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about_path' %></li>
      <li><%= link_to "Contact", 'contact_path' %></li>
    </ul>
  </nav>
</footer>
